# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Environment Variables
.env

# Streamlit
.streamlit/secrets.toml

# OS Files
.DS_Store
Thumbs.db

# IDE Settings
.vscode/
.idea/

# Logs
*.log

# Temporary Files
*.tmp
*.temp

# Build Files
build/
dist/

# Python Package Files
*.egg-info/

# Test Cache
.pytest_cache/